<!DOCTYPE html>
<html class="h-full">
	<head>
		<meta charset="UTF-8">
		<link href="./css/output.css" rel="stylesheet">
		<title>##widgetName##</title>
	</head>
	<body class="select-none h-full">
		<!-- The main section of the widget -->
		<div class="h-5/6 rounded-xl p-4 font-sans bg-base drag">
			<!-- Write your content here -->
		</div>
		<!-- The title of the widget -->
		<div class="h-1/6 text-center text-white text-sm font-sans p-1">
			<p>##widgetName##</p>
		</div>
		<script src="./javascript/renderer.js"></script>
	</body>
</html>
